<h4 style="text-align: center;">LISTADO CONTRIBUYENTE PROCESO N° {{litNumProceso}} - {{litTituloA}} - {{litTituloB}}</h4>
<nz-table #basicTable>
    <thead>
        <tr>
            <th style="text-align:center;">Código</th>
            <th style="text-align:center;">Nombre o Razón Social</th>
            <th style="text-align:center;">Monto Deuda</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let data of dataListadoAcumuladoFinal">
            <td style="text-align:center;">{{ data.codcon }}</td>
            <td style="text-align:center;">{{ data.razsoc }}</td>
            <td style="text-align:center;">S/ {{ data.monsum | number: '1.2-2' }}</td>
        </tr>
    </tbody>
</nz-table>

<button nz-button nzType="primary" [nzSize]="size">
    Detalle
</button>
<button nz-button nzType="primary" [nzSize]="size">
    Excel
</button>