<h4 style="text-align: center;">DEUDA CONTRIBUYENTE</h4>
<nz-table #basicTable [nzData]="dataListado" [nzSize]="'small'">
    <thead>
        <tr>
            <th style="text-align: center;">Cod. Contribuyente</th>
            <th style="text-align: center;">Cod. Predio</th>
            <th style="text-align: center;">Año - Periodo</th>
            <th style="text-align: center;">Insoluto</th>
            <th style="text-align: center;">Emision</th>
            <th style="text-align: center;">Factor</th>
            <th style="text-align: center;">Interes</th>
            <th style="text-align: center;">Total</th>

        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of dataListado">
            <td style="text-align:center;">{{ item.pdc_codcon }}</td>
            <td style="text-align:center;">{{ item.pdc_codpre }}</td>
            <td style="text-align:center;">{{ item.pdc_anytri }} - {{ (item.pdc_numper).padStart(2, '0') }}</td>
            <td style="text-align:center;">{{ item.pdc_monins }}</td>
            <td style="text-align:center;">{{ item.pdc_mongas }}</td>
            <td style="text-align:center;">{{ item.pdc_monfac }}</td>
            <td style="text-align:center;">{{ item.pdc_monmor }}</td>
            <td style="text-align:center;">{{ item.pdc_montot }}</td>
        </tr>
    </tbody>
</nz-table>
<button nz-button nzType="primary" [nzSize]="size">Excel</button>
<button nz-button nzType="primary" [nzSize]="size" (click)="regresarContribuyentes()">Regresar</button>