<h4 style="text-align: center;">DEUDA CONTRIBUYENTE</h4>
<nz-table #basicTable [nzData]="listOfData">
    <thead>
        <tr>
            <th style="text-align: center;">Código</th>
            <th style="text-align: center;">Predio</th>
            <th style="text-align: center;">Tributo</th>
            <th style="text-align: center;">Año</th>
            <th style="text-align: center;">Periodo</th>
            <th style="text-align: center;">Secuencia</th>
            <th style="text-align: center;">Tipo</th>
            <th style="text-align: center;">Insoluto</th>
            <th style="text-align: center;">Emision</th>
            <th style="text-align: center;">Factor</th>
            <th style="text-align: center;">Interes</th>
            <th style="text-align: center;">Total</th>

        </tr>
    </thead>
    <tbody>
        <!-- <tr *ngFor="let data of basicTable.data">
                <td>{{ data.name }}</td>
                <td>{{ data.age }}</td>
                <td>{{ data.address }}</td>
                <td>{{ data.address }}</td>
                <td>{{ data.address }}</td>
                <td>{{ data.address }}</td>
                <td>{{ data.address }}</td>
                <td>{{ data.address }}</td>
                <td>{{ data.address }}</td>
                <td>
                    <a>Action 一 {{ data.name }}</a>
                    <nz-divider nzType="vertical"></nz-divider>
                    <a>Delete</a>
                </td>
            </tr> -->
    </tbody>
</nz-table>
<button nz-button nzType="primary" [nzSize]="size">
    Excel
</button>