<div class="logo"></div>
<ul nz-menu nzTheme="dark" nzMode="inline">
    <li nz-submenu nzTitle="Gestión de Valores" nzIcon="user">
        <ul>
            <li routerLink="/proceso" nz-menu-item>Nuevo Proceso</li>
        </ul>
    </li>
    <!-- <li nz-submenu nzTitle="Team" nzIcon="team">
        <ul>
            <li nz-menu-item>Team 1</li>
            <li nz-menu-item>Team 2</li>
        </ul>
    </li> -->
    <!-- <li nz-menu-item>
        <i nz-icon nzType="file"></i>
        <span>File</span>
    </li> -->
</ul>