<h4 style="text-align: center;">MANTENIMIENTO PROCESO DE DEUDA - VALORES</h4>
<nz-card style="width:100%;" nzTitle="Filtros de búsqueda">
    <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
        <div nz-row [nzGutter]="16">
            <div nz-col class="gutter-row" [nzSpan]="4">
                <nz-form-item>
                    <nz-form-label nzRequired nzFor="email">Fecha &nbsp;</nz-form-label>
                    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="The input is not valid E-mail!">
                        <nz-date-picker [(ngModel)]="date" (ngModelChange)="onChange($event)"></nz-date-picker>
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div nz-col class="gutter-row" [nzSpan]="6">
                <nz-form-item>
                    <nz-form-label>Tipo de Contribuyente</nz-form-label>
                    <nz-form-control>
                        <nz-select name="select-validate" [ngModel]="'Option 2'">
                            <nz-option nzValue="Principales" nzLabel="Principales"></nz-option>
                            <nz-option nzValue="Medianos" nzLabel="Medianos"></nz-option>
                            <nz-option nzValue="Pequeños" nzLabel="Pequeños"></nz-option>
                        </nz-select>
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div nz-col class="gutter-row" [nzSpan]="6">
                <nz-form-item>
                    <nz-form-label>Tipo de Valor</nz-form-label>
                    <nz-form-control>
                        <nz-select name="select-validate" [ngModel]="'Option 2'">
                            <nz-option nzValue="Orden de Pago" nzLabel="Orden de Pago"></nz-option>
                            <nz-option nzValue="Resolución de Det." nzLabel="Resolución de Det."></nz-option>
                        </nz-select>
                    </nz-form-control>
                </nz-form-item>
            </div>
        </div>
        <div nz-row [nzGutter]="20">
            <div nz-col class="gutter-row" [nzSpan]="12">
                <nz-form-item>
                    <nz-form-label nzRequired>Contribuyente &nbsp;</nz-form-label>
                    <nz-form-control [nzSm]="4" nzErrorTip="The input is not valid E-mail!">
                        <input id="note" type="text" nz-input formControlName="p_codcon" />
                    </nz-form-control>
                    <nz-form-label nzRequired><i nz-icon nzType="search" nzTheme="outline"></i> &nbsp;</nz-form-label>
                    <nz-form-control [nzSm]="14" nzErrorTip="The input is not valid E-mail!">
                        <input id="note" type="text" nz-input />
                    </nz-form-control>
                </nz-form-item>
            </div>

        </div>
    </form>
</nz-card>
<nz-table #basicTable [nzData]="listOfData">
    <thead>
        <tr>
            <th>Proceso</th>
            <th>Fecha</th>
            <th>Tipo de Contribuyente</th>
            <th>Tipo Valor</th>
            <th>Año Ini.</th>
            <th>Año Fin</th>
            <th>Monto Ini.</th>
            <th>Monto Fin</th>
            <th>Cantidad</th>
        </tr>
    </thead>
    <tbody>
        <!-- <tr *ngFor="let data of basicTable.data">
            <td>{{ data.name }}</td>
            <td>{{ data.age }}</td>
            <td>{{ data.address }}</td>
            <td>{{ data.address }}</td>
            <td>{{ data.address }}</td>
            <td>{{ data.address }}</td>
            <td>{{ data.address }}</td>
            <td>{{ data.address }}</td>
            <td>{{ data.address }}</td>
            <td>
                <a>Action 一 {{ data.name }}</a>
                <nz-divider nzType="vertical"></nz-divider>
                <a>Delete</a>
            </td>
        </tr> -->
    </tbody>
</nz-table>

<button nz-button nzType="primary" [nzSize]="size">
    Buscar
</button>
<button nz-button nzType="primary" [nzSize]="size">
    Nuevo
</button>
<button nz-button nzType="primary" [nzSize]="size">
    Anular
</button>
<button nz-button nzType="primary" [nzSize]="size">
    Detalle
</button>
<button nz-button nzType="primary" [nzSize]="size">
    Excel
</button>